.container {
	display: grid;
	min-height: 100dvh;
	width: 100dvw;
	place-content: center;
	padding: var(--spacing-md);
}

.socials {
	padding-block: var(--spacing-md);
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
}

.card {
	display: flex;
	flex-direction: column;
	max-width: min-content;
}

form {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-md);
}
