.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.flex-row {
	flex-direction: row;
}

body {
	background-color: lightslategrey;
}

a,
a:visited {
	color: black;
	font-weight: normal;
}
