.container {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100dvh;
}

.navbar {
	display: flex;
	flex-direction: row;
	gap: var(--spacing-lg);
	padding-inline: var(--spacing-lg);
}

.header {
	display: flex;
	flex-direction: column;
	padding-bottom: var(--spacing-sm);
	border-bottom: 1px solid black;
	margin-bottom: var(--spacing-lg);
	padding: var(--spacing-md);
}
