.container {
	padding: var(--spacing-lg);
	min-height: 100dvh;
	width: 100dvw;
	display: grid;
	grid-template-rows: min-content 1fr;
}

.heading {
	display: grid;
	justify-content: center;
}

.content {
	display: grid;
	place-content: center;
}

.logincard {
	padding: var(--spacing-md);
	border: 1px solid black;
}

h2 {
	margin-bottom: var(--spacing-md);
}

form {
	display: grid;
	grid-auto-rows: auto;
	gap: var(--spacing-lg);
}

fieldset {
	display: grid;
	gap: var(--spacing-sm);
}
